:root {
  --white: #ffffff;
  --dark: #012a22;
  --light: #9ff1d5;
  --grey: #3d3d3d;
  --mid: #065545;
  --yellow: #febf58;
  --lighter: #E8FCF5;
}

.home,
.about,
.blog {
  width: 100%;
  padding: 80px;
}

.home {
  min-width: 100%;
  height: 100vh;
  background-image: url("/assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  color: var(--white);
}

.home .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h1 {
  font-weight: 600;
  letter-spacing: -0.02rem;
  font-family: "Sora";
}

.home h1 {
  font-size: 80px;
  line-height: 90px;
}

.home .description {
  width: 100%;
}

.about h1 {
  font-size: 48px;
  color: var(--dark);
}

.about .header .description {
  color: var(--grey);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01rem;
}

.about .header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about .items [class*="col-item-"] {
  width: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.about .items h2 {
  font-family: "Sora";
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02rem;
  color: var(--mid);
}

.about .items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02rem;
  color: var(--grey);
}

.about .items button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  border: 1.5px solid var(--dark);
  overflow: hidden;
}

.about .items button:hover {
  background-color: var(--yellow);
  width: 70px;
  border-radius: 48px;
  border: none;
  transition-duration: 0.3s;
  transform: translateY(-6px);
  box-shadow: 0 6px rgba(185, 177, 35, 0.5);
}

.about .items button:hover .svgIcon {
  animation: travel1 0.3s ease-in-out, travel2 0.3s ease-in-out 0.3s;
}

@keyframes travel1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes travel2 {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

.about .items button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.about .items > *:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-image: linear-gradient(270deg, #febf58 0%, #ff7e3f 100%);
  border-image-slice: 1;
}

.items .image {
  margin-top: 60px;
  --f: 1.15; /* the scale factor */
  
  clip-path: inset(0);
  transition: .4s;
}

.items .image:hover {
  clip-path: inset(calc((1 - 1/var(--f)) * 50%));
  scale: var(--f)
}

.blog {
  background-color: var(--dark);
}

.blog .title {
  text-align: center;
}

.blog h1 {
  font-size: 48px;
  letter-spacing: -0.02rem;
  line-height: 58px;
  color: var(--light);
}

.blog h2, p {
  color: var(--lighter);
  font-size: 20px;
  line-height: 28px;
}

.blog h2 {
  font-family: 'Sora';
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.02rem;
}

.blog p {
  font-weight: 400;
  letter-spacing: 0.01rem;
  text-align: left;
}

.blog .items {
  margin-top: 100px;
}

.blog .items > *:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: var(--mid);
}

.blog .items > [class*="col-item-"] {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.video-container {
  position: relative;
  width: 418px;
  height: auto;
}

#video1,
#video2,
#video3
 {
  width: 100%;
  height: auto;
}

.play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 104px;
  height: 104px;
  background-color: var(--grey);
  opacity: 80%;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.video-playing:hover .play-pause {
  opacity: 80%;
}

.video-playing .play-pause {
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  .about, .blog {
    padding: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .home,
  .about,
  .blog {
    padding: 150px;
  }

  .home .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  .home .description {
    max-width: 50%;
  }

  .about {
    gap: 0px;
  }

  .about .header {
    gap: 20px;
    align-items: start;
    margin-bottom: -20px;
  }

  .about .items {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  [class*="col-item-"] {
    padding-top: 40px;
  }

  [class*="col-item-"] .sub-header {
    width: 60%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .about .items > * {
    width: 100%;
  }

  .about .items > *:not(:last-child) {
    padding-bottom: 0;
    border-bottom: none;
    border-right: 1px solid;
    border-image: linear-gradient(270deg, #febf58 0%, #ff7e3f 100%);
    border-image-slice: 1;
  }

  .image {
    width: 80%;
  }

  .blog .title {
    text-align: left;
  }

  .blog .items {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .blog .items > * {
    padding-right: 5px;
  }

  .blog .items > *:not(:last-child) {
    padding-bottom: 0;
    border-bottom: none;
    border-right: 1px solid;
    border-color: var(--mid);
  }

  .video-container {
    width: 390px;
  }

  .blog .desc {
    padding: 80px 64px 72px 32px;
  }
}
